--dakjqwmnejadhasdkljkaeiasndansdahjdhjasd
Content-Type: text/plain

Please open the following link in your webbrowser to complete the upgrade for your WoW account (you will be able to login to WoW then using this email address):
<insert-url>

--dakjqwmnejadhasdkljkaeiasndansdahjdhjasd
Content-Type: text/html

<html>
<head>
<title>WoW Account Upgrade Confirmation</title>
</head>
<body>Please click the following link to complete the upgrade for your WoW account (you will be able to login to WoW then using this email address):<br>
<a href="<insert-url>"><insert-url></a>
</body></html>

--dakjqwmnejadhasdkljkaeiasndansdahjdhjasd--