--dakjqwmnejadhasdkljkaeiasndansdahjdhjasd
Content-Type: text/plain

Please open the following link in your webbrowser to confirm your new WoW account:
<insert-url>

--dakjqwmnejadhasdkljkaeiasndansdahjdhjasd
Content-Type: text/html

<html>
<head>
<title>WoW Registration Confirmation</title>
</head>
<body>Please click the following link to confirm your new WoW account:<br>
<a href="<insert-url>"><insert-url></a>
</body></html>

--dakjqwmnejadhasdkljkaeiasndansdahjdhjasd--