--dakjqwmnejadhasdkljkaeiasndansdahjdhjasd
Content-Type: text/plain

Please open the following link in your webbrowser to continue upgrading your WoW account:
<insert-url>

--dakjqwmnejadhasdkljkaeiasndansdahjdhjasd
Content-Type: text/html

<html>
<head>
<title>WoW Account Upgrade Email Validation</title>
</head>
<body>Please click the following link to continue upgrading your WoW account:<br>
<a href="<insert-url>"><insert-url></a>
</body></html>

--dakjqwmnejadhasdkljkaeiasndansdahjdhjasd--