##################################################
# LegionCore Battlenet Server configuration file #
##################################################
[bnetserver]

###################################################################################################
# GAME VERSION SETTINGS #
#########################
#
#
#     Game.Build.Version
#        Description: You can change the supported WoW-Legion 7.3.5 game version.
#                     It must be the same in bnetserver.conf and in worldserver.conf. 
#
#   Available builds: 26124, 26365, 26654, 26822, 26899, 26972
#            Default: 26124

Game.Build.Version = 26972

#
###################################################################################################

###################################################################################################
# AUTH SERVER SETTINGS
#
#    LogsDir
#        Description: Logs directory setting.
#        Important:   LogsDir needs to be quoted, as the string might contain space characters.
#                     Logs directory must exists, or log file creation will be disabled.
#        Default:     "./Data/Logs"

LogsDir = "./Data/Logs"

#
#    MaxPingTime
#        Description: Time (in minutes) between database pings.
#        Default:     30

MaxPingTime = 30

#
#    BattlenetPort
#        Description: TCP port to reach the auth server for battle.net connections.
#        Default:     1119

BattlenetPort = 1119

#
#    LoginREST.Port
#        Description: TCP port to reach the REST login method.
#        Default:     8081
#
#    LoginREST.ExternalAddress
#        Description: IP address sent to clients connecting from outside the network where bnetserver runs
#
#    LoginREST.LocalAddress
#        Description: IP address sent to clients connecting from inside the network where bnetserver runs
#

LoginREST.Port = 8081
LoginREST.ExternalAddress=127.0.0.1
LoginREST.LocalAddress=127.0.0.1

#
#
#    BindIP
#        Description: Bind auth server to IP/hostname
#        Default:     "0.0.0.0" - (Bind to all IPs on the system)

BindIP = "0.0.0.0"

#
#    UseProcessors
#        Description: Processors mask for Windows and Linux based multi-processor systems.
#        Example:     A computer with 2 CPUs:
#                     1 - 1st CPU only, 2 - 2nd CPU only, 3 - 1st and 2nd CPU, because 1 | 2 is 3
#        Default:     0  - (Selected by OS)
#                     1+ - (Bit mask value of selected processors)

UseProcessors = 0

#
#    ProcessPriority
#        Description: Process priority setting for Windows and Linux based systems.
#        Details:     On Linux, a nice value of -15 is used. (requires superuser). On Windows, process is set to HIGH class.
#        Default:     0 - (Normal)
#                     1 - (High)

ProcessPriority = 0

#
#    RealmsStateUpdateDelay
#        Description: Time (in seconds) between realm list updates.
#        Default:     10
#                     0  - (Disabled)

RealmsStateUpdateDelay = 10

#
#    WrongPass.MaxCount
#        Description: Number of login attemps with wrong password before the account or IP will be
#                     banned.
#        Default:     0  - (Disabled)
#                     1+ - (Enabled)

WrongPass.MaxCount = 0

#
#    WrongPass.BanTime
#        Description: Time (in seconds) for banning account or IP for invalid login attempts.
#        Default:     600 - (10 minutes)
#                     0   - (Permanent ban)

WrongPass.BanTime = 600

#
#    WrongPass.BanType
#        Description: Ban type for invalid login attempts.
#        Default:     0 - (Ban IP)
#                     1 - (Ban Account)

WrongPass.BanType = 0

#
#    WrongPass.Logging
#        Description: Additionally log attempted wrong password logging
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

WrongPass.Logging = 0

#
###################################################################################################

###################################################################################################
# MYSQL SETTINGS
#
#    LoginDatabaseInfo
#        Description: Database connection settings for the realm server.
#        Example:     "hostname;port;username;password;database"
#
#                     ".;somenumber;username;password;database" - (Use named pipes on Windows
#                                                                 "enable-named-pipe" to [mysqld]
#                                                                 section my.ini)
#
#                     ".;/path/to/unix_socket;username;password;database" - (use Unix sockets on
#                                                                           Unix/Linux)
#        Default:     "127.0.0.1;3306;root;admin;auth"

LoginDatabaseInfo = "127.0.0.1;3306;root;admin;auth"

#
#    LoginDatabase.WorkerThreads
#        Description: The amount of worker threads spawned to handle asynchronous (delayed) MySQL
#                     statements. Each worker thread is mirrored with its own connection to the
#        Default:     1

LoginDatabase.WorkerThreads = 1

#
###################################################################################################

###################################################################################################
#
#  Logging system options.
#
#  Appender config values: Given a appender "name"
#    Appender.name
#        Description: Defines 'where to log'
#        Format:      Type,LogLevel,Flags,optional1,optional2
#
#                     Type
#                         0 - (None)
#                         1 - (Console)
#                         2 - (File)
#                         3 - (DB)
#
#                     LogLevel
#                         0 - (Disabled)
#                         1 - (Trace)
#                         2 - (Debug)
#                         3 - (Info)
#                         4 - (Warn)
#                         5 - (Error)
#                         6 - (Fatal)
#
#                     Flags:
#                         0 - None
#                         1 - Prefix Timestamp to the text
#                         2 - Prefix Log Level to the text
#                         4 - Prefix Log Filter type to the text
#                         8 - Append timestamp to the log file name. Format: YYYY-MM-DD_HH-MM-SS 
#                             (Only used with Type = 2)
#                        16 - Make a backup of existing file before overwrite 
#                             (Only used with Mode = w)
#
#                     Colors (read as optional1 if Type = Console)
#                         Format: "fatal error warn info debug trace"
#                         0 - BLACK
#                         1 - RED
#                         2 - GREEN
#                         3 - BROWN
#                         4 - BLUE
#                         5 - MAGENTA
#                         6 - CYAN
#                         7 - GREY
#                         8 - YELLOW
#                         9 - LRED
#                        10 - LGREEN
#                        11 - LBLUE
#                        12 - LMAGENTA
#                        13 - LCYAN
#                        14 - WHITE
#                         Example: "1 1 9 10 3 8"
#
#                     File: Name of the file (read as optional1 if Type = File)
#                         Allows to use one "%s" to create dynamic files
#
#                     Mode: Mode to open the file (read as optional2 if Type = File)
#                          a - (Append)
#                          w - (Overwrite)
#

Appender.Console =1,1,2,1 1 9 10 3 8
Appender.Bnet    =2,1,3,Bnet.log,w

#    Appenders
#        Description: List of Appenders to read from config
#                     (Using spaces as separator).
#        Default:     "Console Bnet"

Appenders=Console Bnet

#  Logger config values: Given a logger "name"
#    Logger.name
#        Description: Defines 'What to log'
#        Format:      Type,LogLevel,AppenderList
#                     Type
#                         0 - Default. Each type that has no config will
#                             rely on this one. Core will create this logger
#                             (disabled) if it's not configured
#                         7 - Network input/output,
#                             such as packet handlers and netcode logs
#                        26 - SQL DB
#                        36 - SQL Driver
#                        37 - SQL Dev
#                        44 - Realmlist
#                        45 - Battlenet
#                        47 - Battlenet session
#
#                     LogLevel
#                         0 - (Disabled)
#                         1 - (Trace)
#                         2 - (Debug)
#                         3 - (Info)
#                         4 - (Warn)
#                         5 - (Error)
#                         6 - (Fatal)
#
#                     AppenderList: List of appenders linked to logger
#                     (Using spaces as separator).
#

Logger.GENERAL             = 0, 5,Console Bnet
Logger.NETWORKIO           = 7, 5,Console Bnet
Logger.SQL                 = 26,5,Console Bnet
Logger.SQL_DRIVER          = 36,5,Console Bnet
Logger.SQL_DEV             = 37,5,Console Bnet
Logger.REALMLIST           = 44,3,Console Bnet
Logger.BATTLENET           = 45,3,Console Bnet
Logger.BNET_SESSION        = 47,3,Console Bnet

#
#    Loggers
#        Description: List of Loggers to read from config
#                     (Using spaces as separator).
#        Default:     "GENERAL NETWORKIO SQL SQL_DRIVER SQL_DEV REALMLIST BATTLENET BNET_SESSION"

Loggers=GENERAL NETWORKIO SQL SQL_DRIVER SQL_DEV REALMLIST BATTLENET BNET_SESSION

#
###################################################################################################

